In [1]:
import xgboost as xgb
from sklearn.cross_validation import StratifiedKFold
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import KFold
from sklearn import preprocessing
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import itertools
import datetime
pd.set_option('display.max_columns', None)
from operator import itemgetter
import time
import keras
from keras.preprocessing.text import text_to_word_sequence
from keras.preprocessing.text import one_hot
from keras.preprocessing.text import Tokenizer
import string
from textblob import TextBlob
import nltk

/Users/ishimotoyoshitake/anaconda/envs/py/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
Using TensorFlow backend.
/Users/ishimotoyoshitake/anaconda/envs/py/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [2]:
train_data_origin = pd.read_csv("/Users/ishimotoyoshitake/Desktop/kaggle_datasets/mercari/train.tsv",delimiter='\t')
test_data_origin = pd.read_csv("/Users/ishimotoyoshitake/Desktop/kaggle_datasets/mercari/test.tsv",delimiter='\t')
concat_data = pd.concat([train_data_origin,test_data_origin],axis=0)

In [3]:
test_data_origin[380825:380828]

,test_id,name,item_condition_id,category_name,brand_name,shipping,item_description
380825,380825,HUF weed socks,2,Women/Athletic Apparel/Socks,NaN,1,HUF weed socks Mint green socks With pink weed...
380826,380826,Forever 21 Crop Tank,2,"Women/Tops & Blouses/Tank, Cami",FOREVER 21,0,Button Up Mustard Color Size Small NEW Without...
380827,380827,Chanel authentic VIP bag & charms,2,Women/Women's Handbags/Totes & Shoppers,Chanel,1,New authentic Chanel VIP bag. Made of a thick ...

In [4]:
electronics_phone_list = [
    'Electronics/Cell Phones & Accessories/Cell Phone Accessories',
    'Electronics/Cell Phones & Accessories/Cell Phones & Smartphones',
    'Electronics/Computers & Tablets/iPad/Tablet/eBook Readers',
    'Electronics/Computers & Tablets/Laptops & Netbooks',
    'Electronics/Computers & Tablets/iPad/Tablet/eBook Access'
    ]

electronics_camera_list = [
    'Electronics/Cameras & Photography/Camera & Photo Accessories',
    'Electronics/Cameras & Photography/Digital Cameras'
    ]

bag_list = [
    "Women/Women's Handbags/Shoulder Bag",
    "Women/Women's Handbags/Messenger & Crossbody",
    "Women/Women's Handbags/Backpack Style",
    "Women/Women's Handbags/Totes & Shoppers",
    'Vintage & Collectibles/Bags and Purses/Luggage',
    "Vintage & Collectibles/Bags and Purses/Purse"
    ]

jewelry_list = [
    'Women/Jewelry/Rings',
    "Women/Women's Accessories/Watches",
    'Women/Jewelry/Necklaces'
    ]

make_up_list = [
    'Beauty/Makeup/Lips',
    'Beauty/Makeup/Makeup Sets',
    'Beauty/Skin Care/Face',
    'Beauty/Makeup/Makeup Palettes'
    ]

kids_list = [
    'Kids/Toys/Electronics for Kids',
    'Kids/Boys 0-24 Mos/One-Pieces',
    'Kids/Girls 2T-5T/Coats & Jackets',
    'Kids/Girls (4+)/Shoes',
    'Kids/Diapering/Wipes & Holders',
    'Kids/Girls 0-24 Mos/Shoes',
    'Kids/Toys/Learning & Education',
    'Kids/Nursery/Bedding',
    'Kids/Girls (4+)/Coats & Jackets',
    'Kids/Boys 2T-5T/Shoes',
    'Kids/Girls (4+)/Tops & T-Shirts',
    'Kids/Toys/Arts & Crafts'
    ]


other_list = list(concat_data["category_name"][~concat_data["category_name"].isin(
    jewelry_list+
    bag_list+
    electronics_camera_list+
    electronics_phone_list+
    make_up_list+
    kids_list
    )].dropna().values)

In [5]:
other_list = list(set(other_list))

### importance_listの取得

In [6]:
def importance_list_calc(train_data,test_data,category_list,percent):
    #データの取得
    train_data = train_data[train_data["category_name"].isin(category_list)]
    test_data = test_data[test_data["category_name"].isin(category_list)]
    
    #再index
    train_data = pd.concat([train_data,test_data],axis=0)
    train_data = train_data.reset_index(drop = True)
    
    #価格順に並べ替え
    df_ascend = train_data.sort_values(by=["price"], ascending=False)
    #高級なアイテムのリストを取得
    high_price_list = df_ascend[:round(len(train_data)*percent)]
    high_price_list = high_price_list.reset_index(drop=True)
    
    #高級なアイテムのpriceを取得
    high_price_list_price = high_price_list["price"].fillna("NoData")
    
    #高級なアイテムのnameを取得
    high_price_list_name = high_price_list["name"].fillna("NoData")
    
    #NLP処理によりnameをダミー化する
    name_list = []
    for i in range(len(high_price_list_name)):
        text = high_price_list_name[i]
        name_list.append(text)
    
    replace_name_list = []
    for i in range(len(high_price_list_name)):
        text = name_list[i].replace('/', ' ')
        replace_name_list.append(text)
    
    lines = replace_name_list
    is_noun = lambda pos: pos[:2] == 'NN'

    tokenized_list = []
    for i in range(len(replace_name_list)):
        tokenized = nltk.word_tokenize(lines[i])
        nouns = [word for (word, pos) in nltk.pos_tag(tokenized)] #if is_noun(pos)]
        tokenized_list.append(nouns)

    tokenized_join = []
    for i in range(len(replace_name_list)):
        a = ','.join(tokenized_list[i])
        a = a.replace(","," ")
        tokenized_join.append(a)
    t = Tokenizer()
    t.fit_on_texts(tokenized_join)
    
    matrix = t.texts_to_matrix(tokenized_join, mode='count')
    df = pd.DataFrame(matrix)
    df = df.iloc[:,1:]
    df.columns = t.word_index
    df = df.rename(columns={"shipping":"ship-ing"})
    
    #x,yを取得
    train_data_x = df
    train_data_y = high_price_list_price
    
    #xgboost
    feature_names = list(train_data_x)
    dtrain = xgb.DMatrix(train_data_x.as_matrix(),label=train_data_y.tolist(), feature_names = feature_names)
    df_x_train = xgb.DMatrix(train_data_x)
    df_y_train = xgb.DMatrix(train_data_y)
    
    mod = xgb.XGBRegressor(learning_rate=0.1,max_depth=10,n_estimators=1000)
    mod.fit(train_data_x, train_data_y)
    
    importance = mod.booster().get_score(importance_type='weight')
    importance_list = list(importance.keys())
    
    return importance_list

### new_importance_list

In [27]:
def new_importance_list_calc(train_data,test_data,category_list):
    #high priceのnameの単語の抽出
    #データの取得
    train_data = train_data[train_data["category_name"].isin(category_list)]
    percent = 0.02
    #価格順に並べ替え
    df_ascend = train_data.sort_values(by=["price"], ascending=False)
    #高級なアイテムのリストを取得
    high_price_list = df_ascend[:round(len(train_data)*percent)]
    high_price_list = high_price_list.reset_index(drop=True)
    
    #高級なアイテムのpriceを取得
    high_price_list_price = high_price_list["price"].fillna("NoData")
    
    #高級なアイテムのnameを取得
    high_price_list_name = high_price_list["name"].fillna("NoData")

    tokenized_list = []
    for i in range(len(high_price_list_name)):
        tokenized = nltk.word_tokenize(high_price_list_name[i])
        nouns = [word for (word, pos) in nltk.pos_tag(tokenized)]
        tokenized_list.append(nouns)

    tokenized_join = []
    for i in range(len(high_price_list_name)):
        a = ','.join(tokenized_list[i])
        a = a.replace(","," ")
        tokenized_join.append(a)
    
    t = Tokenizer()
    t.fit_on_texts(tokenized_join)
    list_high_price = list(t.word_index.keys())
    df_high_price = pd.DataFrame(list(t.word_index.keys()))

    #normal_listの作成
    percent = 0.98
    #価格順に並べ替え
    df_ascend = train_data.sort_values(by=["price"], ascending=True)
    #普通なアイテムのリストを取得
    normal_price_list = df_ascend[:round(len(train_data)*percent)]
    normal_price_list = normal_price_list.reset_index(drop=True)
    
    #普通なアイテムのpriceを取得
    normal_price_list_price = normal_price_list["price"].fillna("NoData")
    
    #普通なアイテムのnameを取得
    normal_price_list_name = normal_price_list["name"].fillna("NoData")

    tokenized_list = []
    for i in range(len(normal_price_list_name)):
        tokenized = nltk.word_tokenize(normal_price_list_name[i])
        nouns = [word for (word, pos) in nltk.pos_tag(tokenized)]
        tokenized_list.append(nouns)

    tokenized_join = []
    for i in range(len(normal_price_list_name)):
        a = ','.join(tokenized_list[i])
        a = a.replace(","," ")
        tokenized_join.append(a)
    
    t = Tokenizer()
    t.fit_on_texts(tokenized_join)
    list_normal_price = list(t.word_index.keys())
    df_normal_price = pd.DataFrame(list(t.word_index.keys()))
    
    high_list = df_high_price[0].fillna("NoData")
    new_important_list = list(high_list[~high_list.isin(list_normal_price)])
    
    return new_important_list

In [14]:
new_bag = new_importance_list_calc(train_data_origin,test_data_origin,bag_list)
list(new_bag)

['bloomsbury',
 'rb',
 'drew',
 'hampstead',
 'palermo',
 'montorgueil',
 'guarenteed',
 'maxi',
 'girolata',
 'matelassé',
 '✨price',
 'drop✨ysl',
 'bar',
 'mabillon',
 'neonoe',
 'elton',
 'damien',
 'alchester',
 'turenne',
 'pivoine',
 'mazarine',
 'trevi',
 '‼️sale‼️',
 'sully',
 'kristy',
 'cecilia',
 'moira17',
 'delightfu',
 'shopria',
 'galleria',
 'boston60',
 'siracusa',
 'ashby',
 'marguerite',
 'tiecountry',
 '36',
 'caitibelle',
 'portafoglio',
 'thames',
 'bando',
 'macken',
 'sale⚡️louis',
 'alizarin',
 'trolley',
 'retiro',
 'posted',
 'odeon',
 "le'roya",
 'hayes',
 'safiano',
 'steamboat',
 'willie',
 'horseshoe',
 'dainty',
 'marks',
 'm21011',
 'shaggy',
 'sretsis',
 'diamon',
 'dyed',
 'galiera',
 'salisbury',
 'luco',
 'kings',
 'complete']

In [ ]:
list_high_price = list(t.word_index.keys())
df_high_price = pd.DataFrame(list(t.word_index.keys()))

In [ ]:
#normal priceのnameの単語の抽出
#データの取得
train_data = train_data_origin
test_data = test_data_origin
percent = 0.99
#価格順に並べ替え
df_ascend = train_data.sort_values(by=["price"], ascending=True)
#普通なアイテムのリストを取得
normal_price_list = df_ascend[:round(len(train_data)*percent)]
normal_price_list = normal_price_list.reset_index(drop=True)
    
#普通なアイテムのpriceを取得
normal_price_list_price = normal_price_list["price"].fillna("NoData")
    
#普通なアイテムのnameを取得
normal_price_list_name = normal_price_list["name"].fillna("NoData")

normal_price_list_name

tokenized_list = []
for i in range(len(normal_price_list_name)):
    tokenized = nltk.word_tokenize(normal_price_list_name[i])
    nouns = [word for (word, pos) in nltk.pos_tag(tokenized)]
    tokenized_list.append(nouns)

tokenized_join = []
for i in range(len(normal_price_list_name)):
    a = ','.join(tokenized_list[i])
    a = a.replace(","," ")
    tokenized_join.append(a)
    
t = Tokenizer()
t.fit_on_texts(tokenized_join)
    
pd_normal_price = pd.DataFrame(normal_price_list_name)

matrix = t.texts_to_matrix(tokenized_join, mode='count')
t.word_index.keys()

In [ ]:
list_normal_price = list(t.word_index.keys())
df_normal_price = pd.DataFrame(list(t.word_index.keys()))

In [ ]:
len(df_normal_price)

In [ ]:
train_data_brand_name = df_high_price[0].fillna("NoData")
train_data_brand_name[~train_data_brand_name.isin(list_normal_price)]

In [ ]:
df_high_price[0].fillna("NoData")

### train_data_xの作成

In [131]:
def make_train_data(train_data,test_data,category_list,importance_list):
    #データの取得
    train_data = train_data[train_data["category_name"].isin(category_list)]
    test_data = test_data[test_data["category_name"].isin(category_list)]
    #再index
    train_data = pd.concat([train_data,test_data],axis=0)
    train_data = train_data.reset_index(drop = True)
    #並び替え
    df_ascend = train_data.sort_values(by=["price"], ascending=False)
    #nameのダミー
    name_list = []
    for i in range(len(train_data["name"])):
        text = train_data["name"][i]
        name_list.append(text)
    
    replace_name_list = []
    for i in range(len(train_data["name"])):
        text = name_list[i].replace('/', ' ')
        replace_name_list.append(text)
    
    lines = replace_name_list
    is_noun = lambda pos: pos[:2] == 'NN'

    tokenized_list = []
    for i in range(len(replace_name_list)):
        tokenized = nltk.word_tokenize(lines[i])
        nouns = [word for (word, pos) in nltk.pos_tag(tokenized) if word in importance_list ]
        tokenized_list.append(nouns)

    tokenized_join = []
    for i in range(len(replace_name_list)):
        a = ','.join(tokenized_list[i])
        a = a.replace(","," ")
        tokenized_join.append(a)
    t = Tokenizer()
    t.fit_on_texts(tokenized_join)
    
    matrix = t.texts_to_matrix(tokenized_join, mode='count')
    name_dummies = pd.DataFrame(matrix)
    name_dummies = name_dummies.iloc[:,1:]
    name_dummies.columns = t.word_index
    name_dummies = name_dummies.rename(columns={"shipping":"ship-ing"})
    
    #brand_nameのダミー
    brand_list = df_ascend["brand_name"][0:round(len(train_data)*0.1)]
    brand_list_name = brand_list.values
    train_data_brand_name = train_data["brand_name"].fillna("NoData")
    train_data_brand_name[~train_data_brand_name.isin(brand_list)] =  "others-brand"
    train_data_brand_name[train_data_brand_name.isin(brand_list)] = train_data_brand_name[train_data_brand_name.isin(brand_list)] + "-brand"
    brand_name_dummies = pd.get_dummies(train_data_brand_name)
    brand_name_dummies = pd.DataFrame(brand_name_dummies)
    
    #category_nameのダミー
    category_list = df_ascend["category_name"][0:len(train_data)]
    category_list_name = category_list.values
    train_data_category_name = train_data["category_name"].fillna("NoData")
    category_name_dummies = pd.get_dummies(train_data_category_name)
    category_name_dummies = pd.DataFrame(category_name_dummies)
    
    #train_data_y
    train_data_y = train_data["price"].dropna()
    
    #concat
    train_id = train_data["train_id"]
    test_id = train_data["test_id"]
    test_id = test_id.dropna().values
    
    train_data.drop(["name","category_name","brand_name","price","item_description"],axis=1,inplace=True)
    item_dummy = pd.get_dummies(train_data["item_condition_id"])
    item_dummy.columns = ["1.0","2.0","3.0","4.0","5.0"]
    
    train_data_x = pd.concat([train_data["shipping"],train_data["train_id"],train_data["test_id"],item_dummy,name_dummies,brand_name_dummies,category_name_dummies],axis=1)
    
    train_data_x.drop("test_id",axis=1,inplace=True)
    train_data_x = train_data_x.dropna()
    train_data_x.drop("train_id",axis=1,inplace=True)
    
    test_data_x = pd.concat([train_data["shipping"],train_data["train_id"],train_data["test_id"],item_dummy,name_dummies,brand_name_dummies,category_name_dummies],axis=1)
    test_data_x.drop("train_id",axis=1,inplace=True)
    test_data_x = test_data_x.dropna()
    test_data_x.drop("test_id",axis=1,inplace=True)
    test_data_x.index = test_id
    
    return train_data_x,train_data_y,test_data_x,test_id

### normal_dataのtrain_data_x

In [16]:
def make_train_data_normal(train_data,test_data,category_list):
    #データの取得
    train_data = train_data[train_data["category_name"].isin(category_list)]
    test_data = test_data[test_data["category_name"].isin(category_list)]
    #再index
    train_data = pd.concat([train_data,test_data],axis=0)
    train_data = train_data.reset_index(drop = True)
    #並び替え
    df_ascend = train_data.sort_values(by=["price"], ascending=False)
    
    #brand_nameのダミー
    brand_list = df_ascend["brand_name"][0:round(len(train_data)*0.01)]
    brand_list_name = brand_list.values
    train_data_brand_name = train_data["brand_name"].fillna("NoData") 
    train_data_brand_name[~train_data_brand_name.isin(brand_list)] =  "others-brand"
    brand_name_dummies = pd.get_dummies(train_data_brand_name)
    brand_name_dummies = pd.DataFrame(brand_name_dummies)
    
    #category_nameのダミー
    category_list = df_ascend["category_name"][0:len(train_data)]
    category_list_name = category_list.values
    train_data_category_name = train_data["category_name"].fillna("NoData")    
    category_name_dummies = pd.get_dummies(train_data_category_name)
    category_name_dummies = pd.DataFrame(category_name_dummies)
    
    #train_data_y
    train_data_y = train_data["price"].dropna()
    
    #concat
    train_id = train_data["train_id"]
    test_id = train_data["test_id"]
    test_id = test_id.dropna().values
    
    train_data.drop(["name","category_name","brand_name","price","item_description"],axis=1,inplace=True)
    item_dummy = pd.get_dummies(train_data["item_condition_id"])
    item_dummy.columns = ["1.0","2.0","3.0","4.0","5.0"]
    
    train_data_x = pd.concat([train_data["shipping"],train_data["train_id"],train_data["test_id"],item_dummy,brand_name_dummies,category_name_dummies],axis=1)
    
    train_data_x.drop("test_id",axis=1,inplace=True)
    train_data_x = train_data_x.dropna()
    train_data_x.drop("train_id",axis=1,inplace=True)
    
    test_data_x = pd.concat([train_data["shipping"],train_data["train_id"],train_data["test_id"],item_dummy,brand_name_dummies,category_name_dummies],axis=1)
    test_data_x.drop("train_id",axis=1,inplace=True)
    test_data_x = test_data_x.dropna()
    test_data_x.drop("test_id",axis=1,inplace=True)
    test_data_x.index = test_id
    
    return train_data_x,train_data_y,test_data_x,test_id

### category_nullのtrain_data_x

In [8]:
def make_train_data_null_category(train_data,test_data):
    #データの取得
    train_data = train_data[train_data["category_name"].isnull()]
    test_data = test_data[test_data["category_name"].isnull()]
    #再index
    train_data = pd.concat([train_data,test_data],axis=0)
    train_data = train_data.reset_index(drop = True)
    #並び替え
    df_ascend = train_data.sort_values(by=["price"], ascending=False)
    
    #brand_nameのダミー
    brand_list = df_ascend["brand_name"][0:round(len(train_data)*0.1)]
    brand_list_name = brand_list.values
    train_data_brand_name = train_data["brand_name"].fillna("NoData")
    train_data_brand_name[~train_data_brand_name.isin(brand_list)] =  "others-brand"
    brand_name_dummies = pd.get_dummies(train_data_brand_name)
    brand_name_dummies = pd.DataFrame(brand_name_dummies)
    
    
    #category_nameのダミー=null
    
    #train_data_y
    train_data_y = train_data["price"].dropna()
    
    #concat
    train_id = train_data["train_id"]
    test_id = train_data["test_id"]
    test_id = test_id.dropna().values
    
    train_data.drop(["name","category_name","brand_name","price","item_description"],axis=1,inplace=True)
    item_dummy = pd.get_dummies(train_data["item_condition_id"])
    item_dummy.columns = ["1.0","2.0","3.0","4.0","5.0"]
    
    train_data_x = pd.concat([train_data["shipping"],train_data["train_id"],train_data["test_id"],item_dummy,brand_name_dummies],axis=1)
    
    train_data_x.drop("test_id",axis=1,inplace=True)
    train_data_x = train_data_x.dropna()
    train_data_x.drop("train_id",axis=1,inplace=True)
    
    test_data_x = pd.concat([train_data["shipping"],train_data["train_id"],train_data["test_id"],item_dummy,brand_name_dummies],axis=1)
    test_data_x.drop("train_id",axis=1,inplace=True)
    test_data_x = test_data_x.dropna()
    test_data_x.drop("test_id",axis=1,inplace=True)
    test_data_x.index = test_id
    
    return train_data_x,train_data_y,test_data_x,test_id

### Xgboostによる学習と予測データのoutput

In [9]:
def train_and_output(train_data_x,train_data_y,test_data_x):
    #train
    feature_names = list(train_data_x)
    dtrain = xgb.DMatrix(train_data_x.as_matrix(),label=train_data_y.tolist(), feature_names = feature_names)
    df_x_train = xgb.DMatrix(train_data_x)
    df_y_train = xgb.DMatrix(train_data_y)
    mod = xgb.XGBRegressor(learning_rate=0.1,max_depth=10,n_estimators=10)
    mod.fit(train_data_x, train_data_y)
    
    #predict
    y_test_pred = mod.predict(test_data_x)
    df_y_test = pd.DataFrame()
    df_y_test_pred = pd.DataFrame(y_test_pred)
    df_y_test_pred.index = test_data_x.index
    
    df_output = pd.DataFrame()
    df_output["test_id"] = df_y_test_pred.index
    df_output["price"] = df_y_test_pred.values
    
    return df_output

### 全行程の統合

In [10]:
#null_category_price
df_result_null = pd.DataFrame()
train_data = train_data_origin
test_data = test_data_origin
make_data = make_train_data_null_category(train_data,test_data)
df_output = train_and_output(make_data[0],make_data[1],make_data[2])
df_result_null = pd.concat([df_result_null,df_output],axis=0)

In [113]:
j = len(other_list)
unit = 70

for k in range(50):
    if k*unit > j:
        break

for i in range(19):
    s = unit*i
    print(unit*i,s+unit)
j,k

0 70
70 140
140 210
210 280
280 350
350 420
420 490
490 560
560 630
630 700
700 770
770 840
840 910
910 980
980 1050
1050 1120
1120 1190
1190 1260
1260 1330

(1278, 19)

In [114]:
df_result_normal = pd.DataFrame()

j = len(other_list)
unit = 70

for k in range(50):
    if k*unit > j:
        break

for i in range(k):
    s = unit*i
    category = other_list[unit*i:s+unit]
#normal_price
    train_data = train_data_origin
    test_data = test_data_origin
    make_data = make_train_data_normal(train_data,test_data,category)
    df_output = train_and_output(make_data[0],make_data[1],make_data[2])
    df_result_normal = pd.concat([df_result_normal,df_output],axis=0)
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [71]:
train_data = train_data_origin
test_data = test_data_origin
percent = 0.1
category = jewelry_list
out = importance_list_calc(train_data,test_data,category,percent)
out

['✳️bundle',
 'diamond',
 'h0682',
 'apple',
 'wheaton',
 '1timedeals',
 'yurman',
 'jojo',
 'harlow',
 'michele',
 'statement',
 'inspired',
 'j',
 'quatrefoil',
 'petite',
 'ring',
 'david',
 '2',
 'bundle',
 'milanese',
 'goyard',
 'face',
 'fossil',
 'i',
 'plus',
 'marquise',
 'set',
 'soldered',
 'emerald',
 '10k',
 'necklace',
 'watch',
 'bridal',
 'gold',
 '5',
 'chronograph',
 'engagement',
 'silver',
 'hold',
 'band',
 'urban',
 'new',
 'tcw',
 'tahitian',
 'not',
 'wedding',
 'francaise',
 'originally',
 '16',
 'coquette',
 'rare',
 'smart',
 '17',
 'sony',
 'vs2',
 'albion',
 'sterling',
 '4',
 'levian',
 'authentic',
 'for',
 'piece',
 '14k',
 'carat',
 'cut',
 'sale',
 '3',
 "'s",
 'chain',
 'yellow',
 'deco',
 '6',
 'auth',
 'ii',
 'two',
 '18',
 '18k',
 'tiffany',
 'picasso',
 'pandora',
 'neil',
 '1',
 'reserved',
 'in',
 'starburst',
 'sport',
 '22k',
 'harlie',
 'mint',
 'women',
 'morganite',
 'hoops',
 'topaz',
 'red',
 'and',
 'scott',
 'nat',
 'havana',
 'tedi',
 'prototype',
 'iridescent',
 'rayne',
 'slate',
 'nwt',
 'sophee',
 'pink',
 'tangerine',
 'turquoise',
 'kate',
 'ash',
 'blue',
 'beautiful',
 'on',
 'platinum',
 'promise',
 'rose',
 '3pcs',
 'ladies',
 'half',
 'solid',
 'moto',
 'q',
 'agate',
 'real',
 'size',
 'stuller',
 '925',
 '1ct',
 '11mm',
 'kors',
 'rosiee',
 'hautelizab',
 'with',
 '7',
 'elisa',
 'retail',
 'formula',
 'lee',
 'champagne',
 'berniece',
 'elle',
 'multicolor',
 'pendant',
 '20',
 'genuine',
 'diam',
 'sapphire',
 'chanel',
 'of',
 'dont',
 'madi',
 'by',
 '2ct',
 'jewelers',
 'touchscreen',
 'mk',
 'armani',
 'c',
 'logo',
 'botanique',
 'kaki',
 'dylan',
 'elles',
 'neon',
 'danielle',
 'kendra',
 'custom',
 'lees',
 'trio',
 '38mm',
 '14',
 'mini',
 'neva',
 'special',
 'bracelet',
 '14kt',
 'sarah',
 'amethyst',
 'white',
 'charm',
 'pearl',
 'miligrain',
 'jewlers',
 'blk',
 'party',
 'access',
 'bead',
 'black',
 'jewelry',
 'baguettes',
 'smartwatch',
 'tailor',
 'heart',
 'w',
 'brand',
 'lady',
 'columbian',
 'solitaire',
 '03ct',
 'majestic',
 'eternal',
 'purple',
 'rosegold',
 'watches',
 '25',
 'dy',
 'only',
 'heuer',
 'burberry',
 'vintage',
 'davidson',
 'goldstone',
 'classic',
 'tag',
 'crossover',
 'sz7',
 'squash',
 'liz',
 'collection',
 'emily',
 'oliver',
 'pyrite',
 'nib',
 'bow',
 'horse',
 'pearly',
 'grand',
 'leather',
 'gram',
 'daisy',
 'yg',
 'round',
 '15mm',
 'lots',
 'roadster',
 'slane',
 'tanzanite',
 'as',
 'italy',
 'rope',
 'silpada',
 '10kt',
 'zales',
 'eyes',
 'gunmetal',
 'bradshaw',
 'goldtennis',
 'sets',
 'sandra',
 'k',
 'jade',
 'hardware',
 'snow',
 'hermes',
 'necklaces',
 'choker',
 'tassels',
 'link',
 '42mm',
 'mesh',
 'kay',
 'opal',
 'tourmaline',
 'michael',
 'assorted',
 "''",
 'betti',
 'toggle',
 'gucci',
 't',
 'rebel',
 'green',
 'cat',
 'navajo',
 'y',
 'warranty',
 'chinese',
 'stone',
 'the',
 'marie',
 'stardust',
 'king',
 'drusy',
 'hearts',
 '2mm',
 'coursen',
 'mother',
 'navy',
 'karats',
 'sherry',
 'b',
 'to',
 'crystal',
 'handbag',
 'spectacular',
 'enamel',
 'filagree',
 '50ct',
 'peridot',
 'leslyxi',
 'case',
 'total',
 'rebecca',
 'generation',
 'gen',
 '♡',
 'howlite',
 'frances',
 'db',
 'james',
 'girl',
 '750',
 'quartz',
 'julietta',
 'adoree',
 'butterfly',
 'shock',
 'michelle',
 'baby',
 'flash',
 'burch',
 'karat',
 'turtle',
 'titanium',
 'garnet',
 'square']

### importance_listをoutput

In [13]:
def importance_list_output(train_data,test_data,category,percent):
    importance_merge = pd.DataFrame()
    for category in category_list:
        importance_data = importance_list_calc(train_data,test_data,category,percent)
        df_importance_data = pd.DataFrame(importance_data)
        importance_merge = pd.concat([importance_merge,df_importance_data],axis=1)
    
    return importance_merge

In [28]:
def new_importance_list_output(train_data,test_data,category_list):
    importance_merge = pd.DataFrame()
    for category in category_list:
        importance_data = new_importance_list_calc(train_data,test_data,category)
        df_importance_data = pd.DataFrame(importance_data)
        importance_merge = pd.concat([importance_merge,df_importance_data],axis=1)
    
    return importance_merge

In [29]:
train_data = train_data_origin
test_data = test_data_origin
category_list = jewelry_list,electronics_camera_list,bag_list,electronics_phone_list,make_up_list,kids_list
importance_out = new_importance_list_output(train_data,test_data,category_list)
importance_out

,0,0,0,0,0,0
0,jojo,70d,bloomsbury,512,tria,pengualas
1,neil,karma,☆nwt☆,512gb,salazars,bearakeet
2,tedi,7d,brea,5ghz,lashboost,owlicorn
3,✳️bundle,6d,marcie,specs,restock,hottest
4,vs2,d5500,rb,”,dube,poponngay
5,h0682,m3,drew,reducing,cells,pengula
6,✳️watches,d7100,hampstead,pro15in,tapple,swivel
7,1timedeals,NaN,insignia,1796,3some,nes
8,jojo✳️,NaN,palermo,ipadpro12,group,cameo
9,soldered,NaN,montorgueil,wintawonderland,regimens,bonus
10,francaise,NaN,stresa,aw17r3,jayden,spinmaster
11,originally,NaN,josie,8342slv,carmens,fast
12,000,NaN,visetos,dominator,anh1984,hover
13,nat,NaN,muse,gt72,spellbinding,hatching
14,sapphire14kt,NaN,pashli,witcher,estrella,workshop
15,11mm,NaN,etoupe,lknw,trending,janome
16,formula,NaN,saumur30,12in,vermillion,350e
17,serein,NaN,proenza,128gbs,bloodwine,exclusives
18,columbian,NaN,schouler,a1534,coveted,bengal
19,rosiee,NaN,guarenteed,rog,280,fw
20,baguettes,NaN,maxi,g751jy,missianna03,he1
21,deleting,NaN,girolata,predator,400,sway
22,stuller,NaN,matelassé,z35,krebs,cakes
23,madi,NaN,✨price,laplet,jaden,grand
24,juanita,NaN,drop✨ysl,tb,⭐️limited,benefit
25,twirl,NaN,bar,awesome,bin,30min
26,112,NaN,mabillon,corei,sports,valari
27,roadster,NaN,neonoe,jeremy,❤12,retro12
28,slane,NaN,elton,many,items❤best,banned
29,hautelizab,NaN,damien,256g,beautyqueen,simba
...,...,...,...,...,...,...
245,NaN,NaN,NaN,NaN,cissy,NaN
246,NaN,NaN,NaN,NaN,kinetic,NaN
247,NaN,NaN,NaN,NaN,luci,NaN
248,NaN,NaN,NaN,NaN,bestselling,NaN
249,NaN,NaN,NaN,NaN,unopen,NaN
250,NaN,NaN,NaN,NaN,lm,NaN
251,NaN,NaN,NaN,NaN,oleo,NaN
252,NaN,NaN,NaN,NaN,palerre,NaN
253,NaN,NaN,NaN,NaN,signed,NaN
254,NaN,NaN,NaN,NaN,melinda☺❤,NaN
255,NaN,NaN,NaN,NaN,lott,NaN
256,NaN,NaN,NaN,NaN,chloemommy,NaN
257,NaN,NaN,NaN,NaN,aheizer,NaN
258,NaN,NaN,NaN,NaN,chavez2695,NaN
259,NaN,NaN,NaN,NaN,kellis,NaN
260,NaN,NaN,NaN,NaN,set®,NaN
261,NaN,NaN,NaN,NaN,alli13,NaN
262,NaN,NaN,NaN,NaN,⚡️trick,NaN
263,NaN,NaN,NaN,NaN,makeupsales,NaN
264,NaN,NaN,NaN,NaN,spinning,NaN
265,NaN,NaN,NaN,NaN,cuala,NaN
266,NaN,NaN,NaN,NaN,trinab64,NaN
267,NaN,NaN,NaN,NaN,creams❤️,NaN
268,NaN,NaN,NaN,NaN,facia,NaN
269,NaN,NaN,NaN,NaN,✨ptr,NaN
270,NaN,NaN,NaN,NaN,nc20,NaN
271,NaN,NaN,NaN,NaN,kudo,NaN
272,NaN,NaN,NaN,NaN,canon,NaN
273,NaN,NaN,NaN,NaN,megsak,NaN
274,NaN,NaN,NaN,NaN,kacie,NaN

In [142]:
importance_out = importance_out[:100]
importance_out

,jewelry_list,electronics_camera_list,bag_list,electronics_phone_list,make_up_list,kids_list
0,✳️bundle,70d,vuitton,pro,regimens,hatchimals
1,diamond,t6i,chanel,7,bundle,hatchimal
2,h0682,phantom,mcm,macbook,blushsense,janome
3,apple,sony,mm,6s,regimen,dockatot
4,wheaton,4,saint,products,500,cricut
5,1timedeals,hero3,soho,gaming,fields,brother
6,yurman,nex,kors,book,280,9300hailey
7,jojo,dji,kate,plus,quit,boost
8,harlow,canon,ysl,s7,palette,velvet
9,michele,t1i,prada,pixel,hand,poponngay
10,statement,xs,cabas,locked,denona,reserved
11,inspired,sx50,❗️bundle,screen,wash,sewing
12,j,g16,wallets,description,mask,air
13,quatrefoil,shauna,backpack,2009,toner,of
14,petite,free,bundle,lenovo,unblemish,iron
15,ring,t5i,coach,ipad,skincare,4
16,david,d60,mini,pc,urban,disney
17,2,hero4,beige,z,mix,cover
18,bundle,coolpix,pink,64gb,not,the
19,milanese,flash,yves,iphone,narsissit,rm
20,goyard,session,bag,64gig,salazars,nwt
21,face,5,leather,blacklisted,ii,2
22,fossil,casio,authentic,read,shelly,wal
23,i,d80,monogram,new,special,green
24,plus,sr,never,icloud,lonelychild,kids
25,marquise,sd,style,broken,makeup,egg
26,set,xti,cute,chuca,josie,1
27,soldered,t3,totes,parts,products,purple
28,emerald,sx40,tote,air,origins,burberry
29,10k,lens,reversible,12,beauty,set
...,...,...,...,...,...,...
70,deco,4k,jet,verizon,tria,swaddle
71,6,rebel,'s,2010,full,'s
72,auth,a5100,canvas,3,jayden,toddler
73,ii,for,artsy,⚡️⚡️sale‼️‼️surface,missianna03,gold
74,two,plus,and,a1211,400,pre
75,18,price,clutch,i5,redefine,shoe
76,18k,t3i,gold,apple,sale,shoes
77,tiffany,slr,croissant,64,am,leather
78,picasso,600d,reporter,'',krebs,with
79,pandora,d3200,cartouchiere,sprint,liquid,zebra
80,neil,m3,louis,r1,perfect,350
81,1,55mm,gucci,black,step,size
82,reserved,d3100,burberry,inch,jaden,white
83,in,t4i,celine,2011,bin,authentic
84,starburst,digital,gm,fairly,sports,lot
85,sport,d7100,mazarine,edge,brands,draggle
86,22k,3,sale,32,⭐️,flats
87,harlie,hold,sling,',lipstick,expressions
88,mint,5d,supreme,early,essence,grand
89,women,cannon,duffle,surface,skin,nes
90,morganite,model,wallet,t,tarte,swivel
91,hoops,xsi,damier,perfect,in,master
92,topaz,ax,delightful,2014,system,to
93,red,powershot,palm,i7,facial,will
94,and,alpha,neonoe,iphone7,skii,box
95,scott,nikon,strap,ram,huge,free
96,nat,hero5,✨price,dell,highlighter,bassinet
97,havana,2x,saffiano,core,morphe,red
98,tedi,sealed,read,msi,color,nib
99,prototype,d5500,shoulder,hold,glow,halo

In [32]:
importance_out.columns = ["jewelry_list","electronics_camera_list","bag_list","electronics_phone_list","make_up_list","kids_list"]

In [33]:
importance_out.to_csv("/Users/ishimotoyoshitake/Desktop/kaggle_datasets/mercari/new_importance_list.csv",index=False)

In [126]:
import codecs
with codecs.open("/Users/ishimotoyoshitake/Desktop/kaggle_datasets/mercari/importance_list.csv", "r", "Shift-JIS", "ignore") as file:
    read_importance = pd.read_table(file, delimiter=",")

In [127]:
a = "jewelry_list"
list(read_importance[a].dropna().values)

['??bundle',
 'diamond',
 'h0682',
 'apple',
 'wheaton',
 '1timedeals',
 'yurman',
 'jojo',
 'harlow',
 'michele',
 'statement',
 'inspired',
 'j',
 'quatrefoil',
 'petite',
 'ring',
 'david',
 '2',
 'bundle',
 'milanese',
 'goyard',
 'face',
 'fossil',
 'i',
 'plus',
 'marquise',
 'set',
 'soldered',
 'emerald',
 '10k',
 'necklace',
 'watch',
 'bridal',
 'gold',
 '5',
 'chronograph',
 'engagement',
 'silver',
 'hold',
 'band',
 'urban',
 'new',
 'tcw',
 'tahitian',
 'not',
 'wedding',
 'francaise',
 'originally',
 '16',
 'coquette',
 'rare',
 'smart',
 '17',
 'sony',
 'vs2',
 'albion',
 'sterling',
 '4',
 'levian',
 'authentic',
 'for',
 'piece',
 '14k',
 'carat',
 'cut',
 'sale',
 '3',
 "'s",
 'chain',
 'yellow',
 'deco',
 '6',
 'auth',
 'ii',
 'two',
 '18',
 '18k',
 'tiffany',
 'picasso',
 'pandora',
 'neil',
 '1',
 'reserved',
 'in',
 'starburst',
 'sport',
 '22k',
 'harlie',
 'mint',
 'women',
 'morganite',
 'hoops',
 'topaz',
 'red',
 'and',
 'scott',
 'nat',
 'havana',
 'tedi',
 'prototype']

In [132]:
category_list_high = {"jewelry_list":jewelry_list,
                      "electronics_camera_list":electronics_camera_list,
                      "bag_list":bag_list,
                      "electronics_phone_list":electronics_phone_list,
                      "make_up_list":make_up_list,
                      "kids_list":kids_list}

#high_price
df_result_high = pd.DataFrame()
for (category_values,category_keys) in zip(category_list_high.values(),category_list_high.keys()):
    train_data = train_data_origin
    test_data = test_data_origin
    percent = 0.1
    importance_list = list(read_importance[category_keys].dropna().values)
    make_data = make_train_data(train_data,test_data,category_values,importance_list)
    df_output = train_and_output(make_data[0],make_data[1],make_data[2])
    df_result_high = pd.concat([df_result_high,df_output],axis=0)
    print(category_values)

['Women/Jewelry/Rings', "Women/Women's Accessories/Watches", 'Women/Jewelry/Necklaces']
['Electronics/Cameras & Photography/Camera & Photo Accessories', 'Electronics/Cameras & Photography/Digital Cameras']
["Women/Women's Handbags/Shoulder Bag", "Women/Women's Handbags/Messenger & Crossbody", "Women/Women's Handbags/Backpack Style", "Women/Women's Handbags/Totes & Shoppers", 'Vintage & Collectibles/Bags and Purses/Luggage', 'Vintage & Collectibles/Bags and Purses/Purse']
['Electronics/Cell Phones & Accessories/Cell Phone Accessories', 'Electronics/Cell Phones & Accessories/Cell Phones & Smartphones', 'Electronics/Computers & Tablets/iPad/Tablet/eBook Readers', 'Electronics/Computers & Tablets/Laptops & Netbooks', 'Electronics/Computers & Tablets/iPad/Tablet/eBook Access']
['Beauty/Makeup/Lips', 'Beauty/Makeup/Makeup Sets', 'Beauty/Skin Care/Face', 'Beauty/Makeup/Makeup Palettes']
['Kids/Toys/Electronics for Kids', 'Kids/Boys 0-24 Mos/One-Pieces', 'Kids/Girls 2T-5T/Coats & Jackets', 'Kids/Girls (4+)/Shoes', 'Kids/Diapering/Wipes & Holders', 'Kids/Girls 0-24 Mos/Shoes', 'Kids/Toys/Learning & Education', 'Kids/Nursery/Bedding', 'Kids/Girls (4+)/Coats & Jackets', 'Kids/Boys 2T-5T/Shoes', 'Kids/Girls (4+)/Tops & T-Shirts', 'Kids/Toys/Arts & Crafts']

In [143]:
make_data[1]

0          8.0
1         36.0
2         14.0
3        150.0
4         36.0
5          7.0
6         12.0
7         30.0
8         22.0
9          9.0
10        13.0
11        21.0
12        24.0
13        12.0
14        20.0
15        13.0
16        12.0
17         8.0
18        36.0
19        13.0
20        18.0
21        10.0
22        13.0
23        52.0
24         5.0
25        24.0
26        10.0
27         4.0
28         8.0
29        22.0
         ...
36496      9.0
36497     16.0
36498     15.0
36499     12.0
36500     19.0
36501     36.0
36502     81.0
36503     21.0
36504     14.0
36505     21.0
36506     36.0
36507     14.0
36508     31.0
36509     11.0
36510     51.0
36511     10.0
36512    124.0
36513      9.0
36514     15.0
36515      6.0
36516      5.0
36517     30.0
36518     33.0
36519     26.0
36520     36.0
36521    116.0
36522      8.0
36523     26.0
36524     22.0
36525     18.0
Name: price, Length: 36526, dtype: float64

In [135]:
df_result = pd.concat([df_result_high,df_result_normal,df_result_null],axis=0)

In [139]:
df_result_high.sort_values(by=["price"], ascending=False)

        test_id       price
10127  380827.0  834.700867
18072  680586.0  834.700867
8960   337923.0  620.003296
3076   115159.0  620.003296
391     15140.0  620.003296
9508   358609.0  620.003296
10978  412817.0  620.003296
16831  632927.0  602.193970
5715   214940.0  602.193970
12625  472462.0  562.055481
11186  420601.0  562.055481
17300  650703.0  562.055481
10570  398077.0  511.892670
17102  643051.0  511.892670
10761  405619.0  511.892670
16377  615206.0  511.892670
824     31484.0  511.892670
3105   131914.0  479.572968
1958    83100.0  479.572968
5362   229140.0  479.572968
2396    90855.0  478.205078
15459  580544.0  478.205078
7490   464967.0  470.264954
3957   246431.0  470.264954
10775  663530.0  470.264954
3471   215946.0  470.264954
1266    77540.0  470.264954
5211   323452.0  470.264954
6657   413253.0  470.264954
4900   306456.0  470.264954
...         ...         ...
13643  553020.0    3.830898
762     30129.0    3.830898
15945  645813.0    3.830898
6665   266566.0    3.830898
5131   204953.0    3.830898
6186   246493.0    3.830898
12388  501736.0    3.830898
2237    89338.0    3.830898
7527   300791.0    3.830898
15563  629866.0    3.830898
16285  658603.0    3.830898
7101   284020.0    3.610027
6241   249064.0    3.610027
5964   238485.0    3.610027
12997  527066.0    3.610027
10107  621777.0    3.587725
1470    91111.0    3.587725
7277   450746.0    3.587725
9044   555124.0    3.565634
15123  611154.0    3.492937
5827   232875.0    3.492937
15478  626189.0    3.492937
11168  450144.0    3.492937
10170  410675.0    3.492937
4654   185618.0    3.296785
3149   125675.0    3.287747
10618  399741.0    3.108210
12187  493151.0    2.604803
9615   388019.0    2.604803
15036  607527.0    1.392006

[97381 rows x 2 columns]

In [136]:
df_result.sort_values(by=["test_id"], ascending=True)

        test_id       price
0           0.0    7.850902
0           1.0    6.805652
0           2.0   48.896652
0           3.0   12.269313
0           4.0   11.944784
0           5.0    7.376049
1           6.0   20.502235
2           7.0   15.557863
0           8.0   16.409700
1           9.0    9.054135
0          10.0   25.034170
0          11.0   11.692883
1          12.0   12.896763
0          13.0   35.205498
0          14.0   15.962016
0          15.0   13.474245
0          16.0   12.518566
2          17.0   13.344021
3          18.0   24.340534
3          19.0    6.341962
0          20.0    9.436445
2          21.0    9.340105
1          22.0   12.077972
4          23.0   21.332527
4          24.0   42.573410
3          25.0    7.376049
1          26.0   15.541677
0          27.0   14.398310
5          28.0   51.029804
0          29.0   13.531343
...         ...         ...
39236  693329.0   17.000093
43220  693330.0   11.274186
26768  693331.0   12.333935
39371  693332.0   27.758308
41330  693333.0   13.356571
50315  693334.0   29.976387
23655  693335.0   12.191467
26769  693336.0    9.421253
36658  693337.0   12.421700
36659  693338.0   12.117200
39237  693339.0   15.853369
23573  693340.0    9.054135
11260  693341.0  185.602646
36660  693342.0    9.128370
39238  693343.0   12.230439
33166  693344.0   19.328747
23656  693345.0   10.025638
36661  693346.0   32.160751
39372  693347.0   56.040115
43221  693348.0   62.694767
33167  693349.0    8.127476
29125  693350.0    7.987967
36662  693351.0   12.421700
21860  693352.0   10.820434
39239  693353.0   12.223228
26770  693354.0   13.673452
33168  693355.0   14.812389
23574  693356.0    7.376049
39240  693357.0   12.007644
42692  693358.0    8.836699

[693359 rows x 2 columns]

In [35]:
df_sort = df_result.sort_values(by=["test_id"], ascending=True)

In [41]:
df_sort = df_sort.assign(test_id = df_sort["test_id"].astype(np.int32))

In [42]:
df_sort["test_id"].dtype

dtype('int32')

In [ ]:
df_sort[['test_id','price']].to_csv("/Users/ishimotoyoshitake/Desktop/kaggle_datasets/mercari/xgboost_submission.csv",index=False)

In [ ]:
df_sort[30:100]

In [ ]:
for i in range(1000000):
    a = df_sort["test_id"].values[i+1] - df_sort["test_id"].values[i]
    if a != 1.0:
        print(i)

In [ ]:
df_sort["test_id"].values[5] - df_sort["test_id"].values[4]

In [ ]:
test_data_origin[52:56]

In [ ]:
if "Vintage & Collectibles/Other/Other" in other_list:
    print("yes")